<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div *ngIf="!authService.userData as user">
    <a routerLink="/">PulseCam</a>
  </div>
  <div *ngIf="authService.userData as user">
    <a routerLink="/home">PulseCam</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>

    <ul fxFlex fxLayoutAlign="end" fxLayoutGap="10px" class="navigation-items" style="margin-right: 3%">
      <li *ngIf="!authService.userData as user">
        <a routerLink="/signup">Sign Up</a>
      </li>
      <li *ngIf="!authService.userData as user">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="authService.userData as user" >
        <a routerLink="/patients" style="margin-right: 5%">Patients</a>
        <a routerLink="/addpatient" style="margin-right: 5%">Add Patient</a>
        <a routerLink="/profile" style="margin-right: 5%">Profile</a>
        <a (click)="authService.LogOut()" routerLink="/home">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
