

<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-firestore.js"></script>

<form [formGroup]="this.form" style="text-align: center">
  <mat-form-field appearance="outline" style="width: 20%; font-size: 15px">
    <mat-label>Name</mat-label>
  <input matInput
    formControlName="name"
    type="text"
    class="input-field col s12"
  />
  </mat-form-field>
<br>
  <mat-form-field appearance="fill" style="width: 20%; font-size: 15px">
    <mat-label>Date of Birth</mat-label>
    <input matInput
           [matDatepicker]="picker"
           formControlName="dateofbirth"
           type="text"
           class="input-field col s12"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <br>

  <mat-select-country appearance="outline" label="Country" formControlName="country" (onCountrySelected)="onCountrySelected($event)">

  </mat-select-country>

<br>

  <mat-form-field appearance="outline" style="width: 20%; font-size: 15px">
    <mat-label>Social Security Number</mat-label>
    <input matInput
           formControlName="ssn"
           type="text"
           class="input-field col s12"
    />
  </mat-form-field>

<br>

  <mat-form-field appearance="outline" style="width: 20%; font-size: 15px">
    <mat-label>Maiden name of mother</mat-label>
    <input matInput
           formControlName="maiden"
           type="text"
           class="input-field col s12"
    />
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Submit
  </button>
</form>

